
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #333;
    word-wrap: break-word;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 0.8rem;
  }  

h1 {
    display: none;
}

body {
    min-height: 100%;
    background-color: #edf1ed;


}
a {
    color: #58ec5d;
    text-decoration: unset;
}

label {
    margin-bottom: 10px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* flex-flow: row wrap; 
    shorthand for direction and wrap */
    justify-content: center;

    width: 80%;
}

.field input {
    font-size: 16px;
    line-height: 28px;
    padding: 8px 16px;
    width: 100%;
    min-height: 44px;
    border: unset;
    border-radius: 4px;

}
