* {
  box-sizing: border-box;
}

body {
    background-color: #edf1ed;
}

h1 {
    display: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

li {
list-style: none;
  height: 40vh;
  flex-grow: 1;
}

li:last-child {
  flex-grow: 10;
}
img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}


.btn_--right {
    padding: 30px;
    display: flex;
    justify-content: flex-end;
  }
  

@media (max-aspect-ratio: 1/1) {
  li {
    height: 30vh;
  }
}

@media (max-height: 480px) {
  li {
    height: 80vh;
  }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  ul {
    flex-direction: row;
  }

  li {
    height: auto;
    width: 100%;
  }
  img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}



