/* Screen reader only */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

header {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  height: 736px;
  /* iPhone 6/7/8 Plus */
  justify-content: space-between;

  background-color: #edf1ed;
  border: none;
  margin: 0;
  padding: 0;
}

h1 {
  align-self: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 3rem;
  line-height: 8px;
  color: #333;
  /* writing-mode: vertical-rl; */
  -webkit-font-feature-settings: ;
  -webkit-transform: rotate(180deg);
  text-orientation: mixed;
  font-variation-settings: "wdth" 115;
  margin: 0 0 100px 0;
  xpadding: 50px;
}

.logo_svg {
  fill: #333;
  background-color: none;
  padding: 0;
  width: 50%;
  align-self: center;
  animation-name: slidein;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

.logo_svg:hover {
  filter: invert(0.5) sepia(1) hue-rotate(200deg) saturate(4) brightness(1);
}

/* @keyframes slidein {
    from {
      transform: rotateX(180deg);
    }
  
    to {
      margin-left: 0%;
      width: 50%;
      transform: rotateX(0deg);
      
    }
  } */

/* Button styling */
.menu-toggle {
  display: inline-block;
  padding: 30px 20px;
  color: #333;
}

.menu-toggle:hover,
.menu-toggle:focus {
  color: #58ec5d;
}

/*
   Default styles + Mobile first
   Offscreen menu style
  */
.main-menu {
  position: absolute;
  display: none;
  left: -200px;
  top: 0;
  height: 100%;
  overflow-y: scroll;
  overflow-x: visible;
  transition: left 0.3s ease, box-shadow 0.3s ease;
  z-index: 999;
}

.main-menu ul {
  list-style: none;
  margin: 0;
  padding: 150px 0 0;
  min-height: 100%;
  width: 200px;
  background: #1a1a1a;
}

.main-menu a {
  display: block;
  padding: 0.75em 30px;
  line-height: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  line-height: 8px;
  color: #edf1ed;
  text-decoration: none;
}

.main-menu a:hover,
.main-menu a:focus {
  background: #333;
  text-decoration: underline;
}

.main-menu .menu-close {
  position: absolute;
  right: 0;
  top: 20px;
}

/*
   On small devices, allow it to toggle...
  */

.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  left: 0;
  outline: none;
  -moz-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
  box-shadow: 3px 0 12px rgba(0, 0, 0, 0.25);
}

.main-menu:target .menu-close,
.main-menu[aria-expanded="true"] .menu-close {
  z-index: 1001;
}

.main-menu:target ul,
.main-menu[aria-expanded="true"] ul {
  position: relative;
  z-index: 1000;
}

/* 
   We could us `.main-menu:target:after`, but
   it wouldn't be clickable.
  */
.main-menu:target + .backdrop,
.main-menu[aria-expanded="true"] + .backdrop {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
  background: #58ec5d;
  background: rgba(47, 234, 30, 0.69);
  cursor: default;
}

@supports (position: fixed) {
  .main-menu,
  .main-menu:target + .backdrop,
  .main-menu[aria-expanded="true"] + .backdrop {
    position: fixed;
  }
}

/*
   Larger screen styling
   Horizontal menu
  */
@media (min-width: 768px) {
  header {
    height: 20%;
    flex-direction: row-reverse;
  }

  h1 {
    display: none;
  }

  .logo_svg {
    width: 100px;
    margin: 20px;
  }
  .menu-toggle,
  .main-menu .menu-close {
    display: none;
  }

  /* Undo positioning of off-canvas menu */
  .main-menu {
    position: relative;
    display: flex;
  }

  .main-menu ul {
    display: flex;

    /* Undo off-canvas styling */
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    height: auto;
    width: auto;
    background: none;
  }

  .main-menu a {
    color: rgb(0, 0, 0);
    font-weight: bold;
  }

  .main-menu a:hover,
  .main-menu a:focus {
    background: none; /* Remove background from off-canvas styling */
    color: #c00;
    text-decoration: none;
  }

 
}

/*
   Demo purposes only
  */
*,
*:before,
*:after {
  box-sizing: border-box;
}
