* {
  box-sizing: border-box;
}

body {
  background-color: rgb(37, 75, 42);
  margin: 0;
}


h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.3rem;
  line-height: 8px;
}

.quote_section {
  display: flex;
}

.quote {
  color: #58ec5d;
  font-size: 2em;
  line-height: 2em;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  font-family: 'Montserrat', sans-serif;;
  text-decoration: none;
  color: #333;
}

p {
  font-family: 'Montserrat', sans-serif;;
  color: #333;
}


.cv_section {
  color: #333;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px 0 30px 30px;
  background-color: #edf1ed;
  width: 100%;
  
}

.work {
  border-top: #333 solid 2px;
  margin: 0 0 30px 0;
}

.school {
  border-top: #333 solid 2px;
}


.headlines_cv {
  margin: 30px 0 0 0 ;
  padding: 0;
}
.cv_year {
  list-style: none;
  font-size: 0.9em;
  font-weight: 700;
  padding: 20px 0 10px 0
  
}

.cv_what {
  list-style: none;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.5em;
}

.cv_list {
  font-weight: normal;
  list-style: disc;
  list-style-position: inside;
  font-size: 1em;
  line-height: 1.6em;
}
.school_list {
  list-style: none;
}


.skills {

  background-color: #edf1ed;
  width: 100%;
  background-color: rgb(37, 75, 42);
  font-family: 'Montserrat', sans-serif;
  color: #edf1ed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  xjustify-content: flex-end;
  align-items: center;
  padding: 0px 0 0px 0px;
  
}

.hard-skills-img {
  width: 30%;
  align-self: flex-start;
  padding: 0 10px;
}

.soft-skills-img {
  width: 30%;
  align-self: flex-start;
  padding: 0 10px;
}
.skills_headline {
  padding: 0;
  margin: 50px 0 10px 0;
}

.skills_list {
  list-style: none;
  line-height: 1.5em;

}

footer {
  padding: 20px 0 0 0;
  background-color: #edf1ed;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  text-align: center;
}

.impressum {
  grid-column: 1 / 4;
}

.copyright {
  grid-column: 1 / 4;
}

.footer_icons {
  width: 30%;
}

.btn_--right {
  padding: 30px;
  display: flex;
  justify-content: flex-end;
}

.btn_up {
  background-color: #58ec5d;
  border: none;
  border-radius: 100%;
  color: white;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media (min-width: 768px) {
  body {
    xbackground-color: #edf1ed;
  }

  .grid_section {
    display: grid;
    grid-template-columns:  2fr 1fr;
    grid-template-rows: 1fr;
    
    xjustify-content: center;
    xwidth: 80%;
    xalign-items: center;
    xtext-align: center;
  }
.skills_grid {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  align-self: start;
  padding: 0;
  margin: 0;
}
.work {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: stretch;
  padding-left: 200px;
}

.school {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  align-self: stretch;
  padding-left: 200px;
}

.qoute_section {
  display: none;
}

  /* .cv_section {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0 30px 30px;
    background-color: #edf1ed;
    width: 100%;
  } */

  footer {
    background-color: #edf1ed;
    display: grid;
    /* grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr); */
    align-items: center;
    text-align: center;
  }

  .impressum {
    grid-column: 1 / 6;
  }

  .copyright {
    grid-column: 1 / 6;
  }

  .footer_icons {
    width: 10%;
  }
  /* .icon_codepen {
      grid-column: 2 /3 ;
  }
  .icon_github {
      grid-column: 3 / 4;
  }
  .icon_behance {
      grid-column-start:  5 / 6;
  } */

 
}
