* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  margin: 0;
}


h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.3rem;
  line-height: 8px;
}

.quote_section {
  display: flex;

}

.quote {
  font-size: 2em;
  line-height: 2em;
  text-align: center;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}


.cv_section {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px 0 30px 30px;
  background-color: #edf1ed;
  width: 100%;
  
}

.cv_year {
  list-style: none;
  font-size: 0.9em;
  font-weight: 700;
  padding: 20px 0 10px 0
  
}

.cv_what {
  list-style: none;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.5em;
}

.cv_list {
  font-weight: normal;
  list-style: disc;
  list-style-position: inside;
  font-size: 1em;
  line-height: 1.6em;
}
.school_list {
  list-style: none;
}


.skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 0 30px 30px;
  background-color: lightskyblue;
  width: 100%;
}

footer {
  padding: 20px 0 0 0;
  background-color: rgb(214, 188, 38);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  text-align: center;
}

.impressum {
  grid-column: 1 / 4;
}

.copyright {
  grid-column: 1 / 4;
}

.footer_icons {
  width: 30%;
}

.btn_--right {
  padding: 30px;
  display: flex;
  justify-content: flex-end;
}

.btn_up {
  background-color: #4caf50;
  border: none;
  border-radius: 100%;
  color: white;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media (min-width: 768px) {

  .cv_section {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0 30px 30px;
    background-color: #edf1ed;
    width: 100%;
  }

  footer {
    background-color: lawngreen;
    display: grid;
    /* grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr); */
    align-items: center;
    text-align: center;
  }

  .impressum {
    grid-column: 1 / 6;
  }

  .copyright {
    grid-column: 1 / 6;
  }

  .footer_icons {
    width: 10%;
  }
  /* .icon_codepen {
      grid-column: 2 /3 ;
  }
  .icon_github {
      grid-column: 3 / 4;
  }
  .icon_behance {
      grid-column-start:  5 / 6;
  } */
}
