* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  margin: 0;
}

header {
  height: 667px;
  padding: 10px 0 5px 0px;
  margin: 0;
  background-color: blueviolet;
  border: 1px solid red;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
  flex-direction: column;
}
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.logo {
  background-color: lightgreen;
  padding: 0;
  width: 50%;
}

.navgation ul {
  background-color: lightcoral;
  padding: 0;
  margin: 0;
}

footer {
  /* padding: 0;
    margin: 0;
    background-color: mediumpurple;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; */
}

footer {
  background-color: lawngreen;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  text-align: center;
}

.impressum {
  grid-column: 1 / 4;
}

.copyright {
  grid-column: 1 / 4;
}

.footer_icons {
  width: 55%;
}

.btn_--right {
display: flex;
justify-content: flex-end;
}


.btn_up {
    background-color: #4CAF50;
    border: none;
    border-radius: 100%;
    color: white;
    padding: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

@media (min-width: 500px) {
  header {
    height: 20%;
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    width: 150px;
    margin: 0 0 0 30px;
  }
  .nav ul {
    margin: 0 30px 0 0;
  }
  h1 {
    display: none;
  }

  footer {
    background-color: lawngreen;
    display: grid;
    /* grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr); */
    align-items: center;
    text-align: center;
  }

  .impressum {
    grid-column: 1 / 6;
  }
  
  .copyright {
    grid-column: 1 / 6;
  }

  .footer_icons {
    width: 10%;
  }
  /* .icon_codepen {
      grid-column: 2 /3 ;
  }
  .icon_github {
      grid-column: 3 / 4;
  }
  .icon_behance {
      grid-column-start:  5 / 6;
  } */
}
