* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  margin: 0;
}

header {
  align-items: center;
  background-color: #20201e;
  border: none;
  display: flex;
  flex-direction: column;
  height: 667px;
  justify-content: space-evenly;
  margin: 0;
  padding: 10px 0 5px 0px;
  text-align: center;
}

h1 {
  font-family: 'Montserrat', sans-serif;
 font-weight: 800;
  font-size: 3rem;
  line-height: 8px;
  color: #71763e;
  /* writing-mode: vertical-rl; */
  -webkit-font-feature-settings: ;
  -webkit-transform: rotate(180deg);
  text-orientation: mixed;
  font-variation-settings: "wdth" 115;
}

ul {
  padding: 0;
  margin: 0;
}

a {
  xtext-decoration: none;
  color: white;
}

.navgation ul li {
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 3rem;
  text-decoration: none;
  list-style: none;
}

.logo {
  background-color: none;
  padding: 0;
  width: 50%;
}

.logo:hover {
  filter: 
  invert(0.5)
  sepia(1)
  hue-rotate(200deg)
  saturate(4)
  brightness(1);
}

.navgation ul {
  background-color: none;
  padding: 0;
  margin: 0;
}

.cv_section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 0 30px 30px;
  background-color: rgb(172, 10, 187);
  width: 100%;
}

.skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0 0 30px 30px;
  background-color: lightskyblue;
  width: 100%;
}

footer {
  padding: 20px 0 0 0;
  background-color: lawngreen;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  text-align: center;
}

.impressum {
  grid-column: 1 / 4;
}

.copyright {
  grid-column: 1 / 4;
}

.footer_icons {
  width: 30%;
}

.btn_--right {
  padding: 30px;
  display: flex;
  justify-content: flex-end;
}

.btn_up {
  background-color: #4caf50;
  border: none;
  border-radius: 100%;
  color: white;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media (min-width: 500px) {
  header {
    height: 20%;
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    width: 150px;
    margin: 0 0 0 30px;
  }
  .nav ul {
    margin: 0 30px 0 0;
  }
  h1 {
    display: none;
  }

  .cv_section {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 0 30px 30px;
    background-color: rgb(154, 187, 10);
    width: 100%;
  }

  footer {
    background-color: lawngreen;
    display: grid;
    /* grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr); */
    align-items: center;
    text-align: center;
  }

  .impressum {
    grid-column: 1 / 6;
  }

  .copyright {
    grid-column: 1 / 6;
  }

  .footer_icons {
    width: 10%;
  }
  /* .icon_codepen {
      grid-column: 2 /3 ;
  }
  .icon_github {
      grid-column: 3 / 4;
  }
  .icon_behance {
      grid-column-start:  5 / 6;
  } */
}
