* {
  box-sizing: border-box;
}

body {
  background-color: lightblue;
  margin: 0;
}

header {
  align-items: center;
  background-color: blueviolet;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  height: 667px;
  justify-content: space-evenly;
  margin: 0;
  padding: 10px 0 5px 0px;
  text-align: center;
}
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.logo {
  background-color: lightgreen;
  padding: 0;
  width: 50%;
}

.navgation ul {
  background-color: lightcoral;
  padding: 0;
  margin: 0;
}

.cv_section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0  0 30px 30px;
    background-color: lightskyblue;
    width: 100%;
}


.skills {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0  0 30px 30px;
    background-color: lightskyblue;
    width: 100%;
}

/* .skills_headline--1
.skills_list--1
.skills_headline--2
.skills_list--2 {
    width: 100px;
    height: 100px;
    margin: auto;
} */



footer {
  padding: 20px 0 0 0;
  background-color: lawngreen;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  text-align: center;
}

.impressum {
  grid-column: 1 / 4;
}

.copyright {
  grid-column: 1 / 4;
}

.footer_icons {
  width: 30%;
}

.btn_--right {
  padding: 30px;
  display: flex;
  justify-content: flex-end;
}

.btn_up {
  background-color: #4caf50;
  border: none;
  border-radius: 100%;
  color: white;
  padding: 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

@media (min-width: 500px) {
  header {
    height: 20%;
    text-align: left;
    flex-direction: row;
    justify-content: space-between;
  }
  .logo {
    width: 150px;
    margin: 0 0 0 30px;
  }
  .nav ul {
    margin: 0 30px 0 0;
  }
  h1 {
    display: none;
  }

  footer {
    background-color: lawngreen;
    display: grid;
    /* grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr); */
    align-items: center;
    text-align: center;
  }

  .impressum {
    grid-column: 1 / 6;
  }

  .copyright {
    grid-column: 1 / 6;
  }

  .footer_icons {
    width: 10%;
  }
  /* .icon_codepen {
      grid-column: 2 /3 ;
  }
  .icon_github {
      grid-column: 3 / 4;
  }
  .icon_behance {
      grid-column-start:  5 / 6;
  } */
}
